url shortner
./'voice assistant'/dlib/**/.idea
./'voice assistant'/dlib/*~
./'voice assistant'/dlib/*.swp
./'voice assistant'/dlib/*.o
./'voice assistant'/dlib/*.so
./'voice assistant'/dlib/*.pyc
./'voice assistant'/dlib/build
./'voice assistant'/dlib/build2
./'voice assistant'/dlib/dist
./'voice assistant'/dlib/*.egg-info/
./'voice assistant'/dlib/docs/release/
./'voice assistant'/dlib/docs/docs/web/
./'voice assistant'/dlib/docs/docs/chm/
./'voice assistant'/dlib/docs/docs/cache/
./'voice assistant'/dlib/docs/docs/git-logs.xml
./'voice assistant'/dlib/docs/docs/python/classes.txt
./'voice assistant'/dlib/docs/docs/python/functions.txt

./cp.py
./codechef
./hackthissite